<!-- Page Content  -->
<div class="header-for-bg">
    <div class="background-header position-relative">
        <img src="{{path}}assets/images/page-img/{{pageImage}}" class="img-fluid w-100" alt="header-bg">
        <div class="title-on-header">
            <div class="data-block">
                <h2>{{ page-title }}</h2>
            </div>
        </div>
    </div>
    </div>
    <!-- Page Content  -->